@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Montserrat:wght@400;600&display=swap');

/*----------------------------------------------Special paddings/margins/text*/

body {
    font-family: 'Montserrat', sans-serif;
}

.nav-font {
    font-family: 'Akaya Telivigala', cursive;
}

h1,
h2,
h3 h4,
h5 {
    margin: 0px;
}

/*----------------------------------------------Navigation*/

.right-end-links {
    justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.7);
}

.green {
    color: rgb(25, 225, 92);
}

.blue {
    color: rgb(43, 205, 226);
}

.yellow {
    color: rgb(219, 219, 15);
}

.orange {
    color: rgb(231, 140, 66);
}

.violet {
    color: violet;
}

/*----------------------------------------------Hero image*/

/* Hero image code was taken from Whisky-drop tutorial and changed in background property. */

#hero-image {
    height: 100vh;
    background: url("../images/hero-image.jpg") no-repeat bottom center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* Cream overlay code was taken from Whisky-drop tutorial and changed in background-color property. */

.cream-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(248, 247, 195, 0.4);
}

/*----------------------------------------------Contact*/

.contact-heading {
    margin-top: 40px;
    margin-bottom: 30px;
}

/* Code was taken from "Resume-project" tutorial and changed for project needs*/

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fff;
    background-color: rgb(25, 225, 92);
    border: 1px solid rgb(26, 110, 54);
}


/*----------------------------------------------Footer */

.bg-footer {
    background-color: rgba(248, 247, 195, 0.4);
}

.footer-container {
    padding: 60px 20px 60px 20px
}

.links {
    margin: 0px;
    text-align: center;
}

/* Code was taken from "Resume-project" tutorial and changed */

.links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    color: rgba(19, 17, 17, 0.932);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.blue-link a i {
    background-color: rgb(43, 205, 226);
}

.yellow-link a i {
    background-color: rgb(219, 219, 15);
}

.orange-link a i {
    background-color: rgb(231, 140, 66);
}

.violet-link a i {
    background-color: violet;
}

.links li a i:hover {
    background: rgb(25, 225, 92);
}

/*----------------------------------------------Media*/

@media screen and (min-width: 992px) {
    
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}