@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Montserrat:wght@400;600&display=swap');

/*----------------------------------------------Special paddings/margins/text*/

body {
    font-family: 'Montserrat', sans-serif;
}

.nav-font {
    font-family: 'Akaya Telivigala', cursive;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
}

.wrapper-container {
    padding: 0px 40px 30px;
}

#location p,
#about p {
    margin: 0px;
}

#location h5,
#about h5 {
    font-weight: 600;
}

.about-heading,
.location-heading,
.contact-heading {
    font-family: 'Akaya Telivigala', cursive;
}

/*----------------------------------------------Navigation*/

.right-end-links {
    justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.7);
}

.green {
    color: rgb(25, 225, 92);
}

.blue {
    color: rgb(43, 205, 226);
}

.yellow {
    color: rgb(219, 219, 15);
}

.orange {
    color: rgb(231, 140, 66);
}

.violet {
    color: violet;
}

/*----------------------------------------------Hero image*/

/* Hero image code was taken from Whisky-drop tutorial and changed in background property. */

#hero-image {
    height: 100vh;
    background: url("../images/hero-image.jpg") no-repeat bottom center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* Cream overlay code was taken from Whisky-drop tutorial and changed in background-color property. */

.cream-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(17, 17, 16, 0.4);
}

/*----------------------------------------------Jumbotron*/

.btn-mode {
    font-size: small;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    background-color: rgb(43, 205, 226, .4);
    border: 1px solid rgb(8, 103, 116);
    margin-bottom: 35px;
}

.jumbotron-text {
    background-color: transparent;
    color: #fff;
}

.btn-t {
    color: #fff;
    background-color: rgb(25, 225, 92, .2);
    border: 1px solid rgb(25, 225, 92);
}

/*----------------------------------------------About*/

.about-heading {
    margin-top: 60px;
    margin-bottom: 50px;
}

.about-column {
    padding: 0px 25px;
}

.sun {
    font-size: 25px;
}
.charity-btn {
    margin: 15px 0px;
}

/*----------------------------------------------Location*/

.location-heading {
    margin-top: 60px;
    margin-bottom: 50px;
}

.location-column {
    padding: 0px 25px;
}

.bg-location {
    background-color: rgba(248, 247, 195, 0.4);
}

.bg-location-dark {
    background-color: rgb(17, 71, 58);
    color: #fafafa;
}

.logo {
    font-family: 'Akaya Telivigala', cursive;
}

/*----------------------------------------------Google Map*/

/* Code was taken from "Resume-project" tutorial*/

div#map {
    min-height: 360px;
}

/*----------------------------------------------Contact*/

.contact-heading {
    margin-top: 60px;
    margin-bottom: 40px;
}

/* Code was taken from "Resume-project" tutorial and changed for project needs*/

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 35px;
    margin-bottom: 20px;
}


/*----------------------------------------------Footer */

.bg-footer {
    background-color: rgba(248, 247, 195, 0.4);
}

.bg-footer-dark {
    background-color: rgb(17, 71, 58);
    color: #fafafa;
}

.footer-container {
    padding: 60px 40px;
}

.links {
    margin: 0px;
    text-align: center;
}

/* Code was taken from "Resume-project" tutorial and changed */

.rate {
    padding: 0;
    width: 33px;
}

.links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    color: rgba(19, 17, 17, 0.932);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.blue-link a i {
    background-color: rgb(43, 205, 226);
}

.yellow-link a i {
    background-color: rgb(219, 219, 15);
}

.orange-link a i {
    background-color: rgb(231, 140, 66);
}

.violet-link a i {
    background-color: violet;
}

.links li a i:hover {
    background: rgb(25, 225, 92);
}

footer p {
    font-size: small;
}

/*----------------------------------------------Media*/

@media screen and (width: 768px) {

    .jumbotron-text {
        margin-top: 160px;
    }
}

@media screen and (min-width: 992px) {
    
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

@media screen and (min-width: 1600px) {

    .jumbotron-text {
        margin-top: 140px;
    }
}

@media screen and (min-width: 2280px) {

    .jumbotron-text {
        margin-top: 260px;
    }
}

@media screen and (max-width: 375px) {

    .jumbotron-text {
        margin-top: 15px;
    }

    #text h1 {
        font-size: 2.2rem;
    }

    #text h3 {
        font-size: 1.4rem;
    }

    #text h5 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 320px) {

    .jumbotron-text {
        margin-top: 0px;
    }

    #text h1 {
        font-size: 1.6rem;
    }

    #text h3 {
        font-size: 1.2rem;
    }

    #text h5 {
        font-size: 1rem;
    }

    .navbar {
        padding: .5rem .5rem;
    }
}